@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$alternative_fonts: Arial, sans-serif;
$open-sans: 'Open Sans';
$default-font: $open-sans, $alternative_fonts; 

$colors: (
  primary: #F7941E,
  secondary: #EC007A,
  tertiary: #20B7CE,
);

$grayscale: {
	primary: #FFFFFF;
	base: #C9C9C9 ,
	lighten: #EEEEEE,
	darken: #898989 
}
